<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Confirmation de réservation</title>
    </head>
    <body>
        <h1>Confirmation de réservation</h1>

        <p>Bonjour {{ reservation.Utilisateurs.Prenom }} {{ reservation.Utilisateurs.Nom }},</p>

        <p>Nous sommes heureux de vous confirmer votre réservation pour les dates suivantes :</p>

        <ul>
            <li>Date de début : {{ reservation.DateDebut|date('d-m-Y') }}</li>
            <li>Date de fin : {{ reservation.DateFin|date('d-m-Y') }}</li>
        </ul>

        <p>Merci de votre confiance,</p>

        <p>L'équipe</p>
    </body>
</html>