{% extends 'base.html.twig' %}

{% block title %}Commenter{% endblock %}

{% block body %}

{{ form_start(commentForm) }}
{{ form_row(commentForm.Avis) }}
{{ form_row(commentForm.Note_Loueur) }}
<button type="submit"
    class="bg-custom_green_dark text-custom-green font-cotorisHeavy rounded-full font-bold py-2 px-4 md:h-8 lg:h-10 flex items-center justify-center">Commenter</button>
{{ form_end(commentForm) }}

{% endblock %}