{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8">Accueil</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for categorie in categories %}
        <div class="bg-white shadow rounded overflow-hidden p-6 flex items-center space-x-4">
            <img class="w-6 h-6 object-cover" src="{{ categorie.icon }}" alt="{{ categorie.libelle }}">
            <h2 class="text-2xl font-bold">{{ categorie.libelle }}</h2>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}