{% extends 'base.html.twig' %}

{% block body %}
	<div id="myModal" class="modal hidden fixed top-2 right-2 w-auto h-auto z-50 items-center justify-center">
		<div class="flex flex-col items-start w-auto h-auto m-auto bg-custom-green rounded shadow-md p-6 space-y-3">
			<a href="/reserver" class="font-semibold">Réservations</a>
			<a href="/mes-favoris" class="font-semibold">Favoris</a>
			<hr class="border-t border-gray-200 my-2 w-full">
			<a href="/mes-locations">Mettre un bien à louer</a>
			<a href="/profil">Mon compte</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="/admin">Administration</a>
			{% endif %}
			<hr class="border-t border-gray-200 my-2 w-full">
			<a href="/logout">Déconnexion</a>
		</div>
	</div>
{% endblock %}
