@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F1FAF1;
}

@font-face {
    font-family: 'Cotoris';
    src: url('../fonts/Cotoris.otf') format('opentype');
}

@font-face {
    font-family: 'CotorisHeavy';
    src: url('../fonts/CotorisHeavy.ttf') format('opentype');
}

@font-face {
    font-family: 'CotorisBold';
    src: url('../fonts/CotorisBold.otf') format('opentype');
}