{% extends 'base.html.twig' %}

{% block body %}
<footer id="footer" class="footer bg-custom_green_dark text-white py-8">
    <div class="container mx-auto px-4 md:px-0 grid grid-cols-1 lg:grid-cols-3 gap-8 items-start md:items-center justify-start md:justify-center text-center">
        <div>
            <h2 class="mb-4 font-bold text-custom-green">Assistance</h2>
            <ul class="space-y-2 text-custom-green">
                <li><a href="#">Centre d'aide</a></li>
                <li><a href="#">Assistance sécurité</a></li>
                <li><a href="#">AirCover</a></li>
                <li><a href="#">Lutte contre la discrimination</a></li>
                <li><a href="#">Assistance handicap</a></li>
                <li><a href="#">Options d'annulation</a></li>
                <li><a href="#">J'ai un problème de voisinage</a></li>
            </ul>
        </div>
        <div>
            <h2 class="mb-4 font-bold text-custom-green">Accueil de voyageurs</h2>
            <ul class="space-y-2 text-custom-green">
                <li><a href="#">Mettez votre logement sur Click'n party</a></li>
                <li><a href="#">AirCover pour les hôtes</a></li>
                <li><a href="#">Ressources pour les hôtes</a></li>
                <li><a href="#">Forum de la communauté</a></li>
                <li><a href="#">Hébergement responsable</a></li>
                <li><a href="#">Participez à un cours gratuit sur l'accueil de voyageurs</a></li>
            </ul>
        </div>
        <div>
            <h2 class="mb-4 font-bold text-custom-green">Click'n party</h2>
            <ul class="space-y-2 text-custom-green">
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Nouvelles fonctionnalités</a></li>
                <li><a href="#">Carrières</a></li>
                <li><a href="#">Investisseurs</a></li>
                <li><a href="#">Cartes cadeaux</a></li>
                <li><a href="#">Séjours d'urgence Click'n party.org</a></li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}