{% extends 'base.html.twig' %}

{% block body %}
	<div class="hidden md:flex items-center justify-between">
		<div class="ml-2 bg-custom-green flex items-center">
			<div class="w-10 h-10">
				<a href="{{ path('app_home') }}">
					<svg width="100" viewbox="0 0 385 120" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_1251_138)">
							<path d="M134.918 26.1646V80.8148H125.496L100.986 41.6664V80.8148H91.5652V26.1646H100.986L125.571 65.3882V26.1646H134.918Z" fill="#181818"/>
							<path d="M153.835 23.1619V28.4542C153.835 30.0307 153.547 31.6697 152.972 33.3712C152.421 35.0478 151.645 36.6618 150.645 38.2132C149.644 39.7396 148.493 41.0658 147.191 42.1919L142.65 39.3392C143.676 37.7878 144.501 36.1488 145.127 34.4222C145.778 32.6706 146.103 30.7063 146.103 28.5293V23.1619H153.835Z" fill="#181818"/>
							<path d="M191.978 60.4336H177.752V52.9643H191.978C194.455 52.9643 196.457 52.5639 197.983 51.7631C199.51 50.9624 200.623 49.8614 201.324 48.4601C202.05 47.0338 202.412 45.4073 202.412 43.5806C202.412 41.854 202.05 40.2401 201.324 38.7387C200.623 37.2123 199.51 35.9862 197.983 35.0603C196.457 34.1344 194.455 33.6715 191.978 33.6715H180.642V80.8148H171.221V26.1646H191.978C196.207 26.1646 199.798 26.9153 202.75 28.4167C205.728 29.8931 207.993 31.9449 209.544 34.5724C211.095 37.1747 211.871 40.1525 211.871 43.5056C211.871 47.0338 211.095 50.0616 209.544 52.5889C207.993 55.1162 205.728 57.0555 202.75 58.4068C199.798 59.758 196.207 60.4336 191.978 60.4336Z" fill="#181818"/>
							<path d="M241.861 72.6699V53.3021C241.861 51.8507 241.598 50.5996 241.073 49.5486C240.547 48.4976 239.747 47.6844 238.671 47.1089C237.62 46.5333 236.294 46.2456 234.692 46.2456C233.216 46.2456 231.94 46.4958 230.864 46.9963C229.788 47.4967 228.949 48.1724 228.349 49.0231C227.748 49.8739 227.448 50.8373 227.448 51.9133H218.44C218.44 50.3118 218.827 48.7604 219.603 47.259C220.379 45.7576 221.505 44.4189 222.981 43.2428C224.458 42.0667 226.222 41.1409 228.274 40.4653C230.326 39.7896 232.628 39.4518 235.18 39.4518C238.233 39.4518 240.935 39.9648 243.287 40.9907C245.665 42.0167 247.529 43.5681 248.88 45.645C250.256 47.6969 250.945 50.2743 250.945 53.3771V71.4312C250.945 73.2829 251.07 74.947 251.32 76.4233C251.595 77.8746 251.983 79.1383 252.483 80.2143V80.8148H243.212C242.787 79.839 242.449 78.6003 242.199 77.0989C241.974 75.5725 241.861 74.0962 241.861 72.6699ZM243.175 56.1171L243.25 61.7098H236.756C235.08 61.7098 233.604 61.8724 232.327 62.1977C231.051 62.498 229.988 62.9484 229.137 63.549C228.286 64.1495 227.648 64.8752 227.223 65.726C226.797 66.5768 226.585 67.5401 226.585 68.6161C226.585 69.6921 226.835 70.6805 227.335 71.5814C227.836 72.4572 228.561 73.1453 229.512 73.6458C230.488 74.1462 231.664 74.3965 233.041 74.3965C234.892 74.3965 236.506 74.0211 237.883 73.2704C239.284 72.4947 240.385 71.5563 241.186 70.4553C241.986 69.3293 242.412 68.2658 242.462 67.2649L245.389 71.2811C245.089 72.307 244.576 73.408 243.85 74.5841C243.125 75.7602 242.174 76.8862 240.998 77.9622C239.847 79.0132 238.458 79.8765 236.832 80.5521C235.23 81.2277 233.378 81.5655 231.276 81.5655C228.624 81.5655 226.259 81.0401 224.182 79.9891C222.106 78.9131 220.479 77.4743 219.303 75.6726C218.127 73.8459 217.539 71.7815 217.539 69.4794C217.539 67.3275 217.939 65.4257 218.74 63.7742C219.566 62.0976 220.767 60.6964 222.343 59.5703C223.945 58.4443 225.896 57.5935 228.199 57.018C230.501 56.4174 233.128 56.1171 236.081 56.1171H243.175Z" fill="#181818"/>
							<path d="M269.487 47.9346V80.8148H260.441V40.2025H269.074L269.487 47.9346ZM281.91 39.9398L281.835 48.3475C281.285 48.2474 280.684 48.1723 280.034 48.1223C279.408 48.0723 278.783 48.0472 278.157 48.0472C276.606 48.0472 275.242 48.2724 274.066 48.7229C272.89 49.1482 271.901 49.7738 271.101 50.5996C270.325 51.4003 269.724 52.3762 269.299 53.5273C268.873 54.6783 268.623 55.967 268.548 57.3933L266.484 57.5435C266.484 54.9911 266.734 52.6264 267.234 50.4494C267.735 48.2724 268.486 46.3582 269.487 44.7067C270.512 43.0551 271.789 41.7665 273.315 40.8406C274.866 39.9148 276.656 39.4518 278.682 39.4518C279.233 39.4518 279.821 39.5019 280.447 39.602C281.097 39.7021 281.585 39.8147 281.91 39.9398Z" fill="#181818"/>
							<path d="M308.072 40.2025V46.8086H285.176V40.2025H308.072ZM291.782 30.2559H300.828V69.592C300.828 70.8432 301.003 71.8066 301.353 72.4822C301.729 73.1328 302.242 73.5707 302.892 73.7959C303.543 74.0211 304.306 74.1337 305.182 74.1337C305.807 74.1337 306.408 74.0962 306.984 74.0211C307.559 73.946 308.022 73.871 308.372 73.7959L308.41 80.7022C307.659 80.9275 306.783 81.1276 305.782 81.3028C304.807 81.478 303.68 81.5655 302.404 81.5655C300.327 81.5655 298.488 81.2027 296.887 80.477C295.285 79.7263 294.034 78.5127 293.133 76.8362C292.232 75.1597 291.782 72.9326 291.782 70.1551V30.2559Z" fill="#181818"/>
							<path d="M326.839 76.3858L337.874 40.2025H347.558L331.268 87.008C330.893 88.009 330.405 89.0975 329.804 90.2735C329.204 91.4496 328.416 92.5631 327.44 93.6141C326.489 94.6901 325.3 95.5534 323.874 96.204C322.448 96.8796 320.721 97.2174 318.694 97.2174C317.894 97.2174 317.118 97.1424 316.367 96.9922C315.641 96.8671 314.953 96.7295 314.303 96.5793L314.265 89.673C314.515 89.698 314.816 89.723 315.166 89.7481C315.541 89.7731 315.842 89.7856 316.067 89.7856C317.568 89.7856 318.819 89.5979 319.82 89.2226C320.821 88.8723 321.634 88.2967 322.26 87.496C322.911 86.6953 323.461 85.6193 323.912 84.268L326.839 76.3858ZM320.609 40.2025L330.255 70.6055L331.869 80.1392L325.601 81.7532L310.85 40.2025H320.609Z" fill="#181818"/>
							<path d="M55.6134 70.1952L35.2731 118.655L28.8131 102.069L12.1517 119.813L7.79786 115.51L5.62096 113.358L22.3961 95.6523L4.75505 86.982L55.6134 70.1952Z" fill="#FEFEFE" stroke="#181818" stroke-width="3.79296"/>
							<path d="M63.1853 63.7383L70.7712 56.1523" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path d="M68.9466 77.27L79.6629 77.7729" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path d="M68.688 77.6123L79.4044 78.1152" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path d="M62.1726 87.7041L67.0968 97.2354" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path d="M38.1099 63.6415L28.5786 58.7173" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path d="M48.9254 48.044L49.2998 58.7656" stroke="#181818" stroke-width="3.79296" stroke-linecap="round"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M85.5595 6.3216H330.838C357.372 6.3216 378.882 27.8317 378.882 54.3658C378.882 80.8998 357.372 102.41 330.838 102.41H85.5595C81.1909 102.41 76.9586 101.827 72.9359 100.734C71.9892 102.708 70.8795 104.589 69.6242 106.359C74.6637 107.901 80.0147 108.732 85.5595 108.732H330.838C360.863 108.732 385.203 84.3911 385.203 54.3658C385.203 24.3404 360.863 0 330.838 0H85.5595C58.3684 0 35.8397 19.962 31.8287 46.0306C33.8847 45.6916 35.9955 45.5154 38.1475 45.5154C38.208 45.5154 38.2684 45.5155 38.3288 45.5158C42.4824 23.2092 62.0488 6.3216 85.5595 6.3216Z" fill="#181818"/>
						</g>
						<defs>
							<clipPath id="clip0_1251_138">
								<rect width="385" height="120" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>
			</div>
		</div>
		<div class="ml-auto flex items-center">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% include 'components/modal.html.twig' %}
			{% else %}
				<a href="/login" class="border border-custom_green_dark bg-custom_boutton text-custom_green_dark font-cotorisHeavy rounded-full font-bold py-2 px-4 md:h-8 lg:h-10 flex items-center justify-center">
					Connexion
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
