{% extends 'base.html.twig' %}

{% block body %}

<div id="navbar"
    class="md:hidden fixed bottom-0 left-0 w-full bg-custom_green_dark py-2 flex justify-center items-center z-[9999] space-x-6 transition-all duration-500">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="/mes-locations" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-home fa-lg mb-1"></i>
    </a>
    <a href="/reserver" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-calendar-alt fa-lg mb-1"></i>
    </a>
    <a href="/mes-favoris" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-heart fa-lg mb-1"></i>
    </a>
    <a href="/profil" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-user-circle fa-lg mb-1"></i>
    </a>
    <a href="/user/invoices" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-file-invoice fa-lg mb-1"></i>
    </a>
    {% else %}
    <a href="/login" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-user-circle fa-lg mb-1"></i>
    </a>
    {% endif %}
    <a href="/contact" class="text-custom-green font-bold flex flex-col items-center py-2">
        <i class="fas fa-envelope fa-lg mb-1"></i>
    </a>
</div>

<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('navbar');

    window.addEventListener('scroll', function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        let scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        if ((scrollTop > lastScrollTop && scrollTop > 0) || scrollTop === scrollHeight) {
            navbar.style.bottom = '-60px';
        } else {
            navbar.style.bottom = '0';
        }
        lastScrollTop = scrollTop;
    });
</script>

{% endblock %}